.card {
  padding: 10px;
  display: inline-flex;
  color: black;
  min-width: 300px;
}
.forma {
  display: inline;
}
.elementos {
  max-height: 300px;
  max-width: 300px;
}
.prueba {
  color: black;
  font-size: 1em;
  font-family: "Comfortaa", cursive;
  text-transform: capitalize;
}
